/* AdSlider.css */
.swiper-button-prev,
.swiper-button-next {
  width: 36px;
  height: 36px;
  background-color: white;
  color: black;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  top: 55%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
}


.swiper-button-prev {
  left: 5px; 
  z-index: 50 !important;
}

.swiper-button-next {
  right: 5px; 
  z-index: 50 !important;
}
